<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../../assets/images/medialSign.svg" alt="" width="72" height="72">
        <h2>Clinica Online</h2>
        <p class="lead">Por favor regístrate para poder utilizar nuestros servicios.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Datos Necesarios</h4>
            <form class="needs-validation" [formGroup]="patientForm" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" id="firstName" formControlName="name" placeholder=""
                            value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                        <div *ngIf="patientForm.controls['name'].invalid && (patientForm.controls['name'].dirty || patientForm.controls['name'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="patientForm.controls['name'].errors.required">
                                Nombre es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder=""
                            value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Correo <span class="text-muted"></span></label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        placeholder="minombre@ejemplo.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address">Contraseña</label>
                    <input type="password" class="form-control" id="address" formControlName="password"
                        placeholder="Contraseña" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <div class="form-group">
                            <label for="fotos">Fotos</label>
                            <input type="file" class="form-control-file" id="fotos" (change)="handlePhoto1($event)">
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSubmit()">Registrarme</button>
                <button class="btn btn-danger btn-lg btn-block" routerLink="/login">Ya tengo una
                    cuenta</button>
                <div class="container" *ngIf="registered">
                    <boot-alert mensaje="Verifique su correo para poder iniciar sesion, revise su buzón de entrada"
                        color="alert-warning" (dismiss)="navigate()"></boot-alert>
                </div>
            </form>
        </div>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Federico Vera</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>