<app-header></app-header>
<div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="content" placeholder="Escribe un mensaje..">
  </div>
<textarea [(ngModel)]="content" name="content" placeholder="Escribe un mensaje.."></textarea>

<input type="submit" value="Enviar" (click)="addPost()">
<ul class="list-group" *ngFor="let post of posts">
    <li class="list-group-item" (click)="getPost(post.id)">
        <strong>{{ post.usuario}}</strong>
        <br>
        {{post.contenido}}
    </li>
</ul>